Body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#destruct {
  color: white;
  background-color: crimson;
  border-radius: 50%;
  width: 90%;
  height: 90vh;
  padding: 90vh 90vw;
  font-size: 3rem;
  border: 2px solid #C0C0C0;
  box-shadow: 2px 5px #660000;
}

#destruct:active {
  box-shadow: none;
}
