Body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#destruct {
  color: white;
  background-color: crimson;
  border-radius: 50%;
  width: 45vw;
  height: 90vh;
  font-size: 6vw;
  border: 1w solid #C0C0C0;
  box-shadow: 1vh 1w #660000;
}

#destruct:active {
  box-shadow: none;
}
